affiliateproductsapp/app/utils/impactradius/xsd/ImpactRadiusSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Products">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Product" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Unique_Merchant_SKU"/>
              <xs:element type="xs:string" name="Product_Name"/>
              <xs:element type="xs:string" name="Product_URL"/>
              <xs:element type="xs:string" name="Image_URL"/>
              <xs:element type="xs:string" name="Current_Price"/>
              <xs:element type="xs:string" name="Stock_Availability"/>
              <xs:element type="xs:string" name="Condition"/>
			  <xs:element type="xs:string" name="EAN"/>
              <xs:element type="xs:string" name="UPC"/>
			  <xs:element type="xs:string" name="ISBN"/>
			  <xs:element type="xs:string" name="MPN"/>
              <xs:element type="xs:string" name="Shipping_Rate" minOccurs="0"/>
              <xs:element type="xs:string" name="Original_Price"/>
              <xs:element type="xs:string" name="Manufacturer"/>
              <xs:element type="xs:string" name="Product_Description"/>
			  <xs:element type="xs:string" name="Product_Type"/>
		      <xs:element type="xs:string" name="Category"/>
  		      <xs:element type="xs:string" name="Category_ID"/>
  		      <xs:element type="xs:string" name="Alternative_Image_URL_1"/>
			  <xs:element type="xs:string" name="Parent_SKU"/>
			  <xs:element type="xs:string" name="Parent_Name"/>
              <xs:element type="xs:string" name="Gender" minOccurs="0"/>
              <xs:element type="xs:string" name="Color" minOccurs="0"/>
              <xs:element type="xs:string" name="Size" minOccurs="0"/>
              <xs:element type="xs:string" name="Product_Weight"/>
              <xs:element type="xs:string" name="Shipping_Weight"/>
              <xs:element type="xs:string" name="Weight_Unit_of_Measure"/>
              <xs:element type="xs:string" name="Bundle"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>